{% extends '_layouts/detail-entry.njk' %}
{% set entry = data.entries[2] %}

{% block page_title %}{{ entry.title}}{% endblock %}

{% block page_description %}Blog entry for {{ entry.date }}, {{entry.title}}{% endblock %}

{% block story %}
  <h1>{{ entry.title}}</h1>
  <img src="img/kraken01.jpg" alt="Kraken eating ship" class="img-fluid">
  <h5>Captain's log: {{ entry.date }}</h5>
  <p>Bucko Barbary Coast aye rope's end black spot Pirate Round scurvy bounty Brethren of the Coast quarterdeck. Keel come about crack Jennys tea cup matey transom stern gun rope's end strike colors red ensign. Loot Sink me Pieces of Eight grog aye lee belaying pin lanyard keel scuttle.</p>
  <p> Main sheet hearties reef maroon line plunder Cat o'nine tails cog to go on account bilge water. Black jack Davy Jones' Locker gaff bring a spring upon her cable Letter of Marque Jack Tar list pirate chase guns schooner. Strike colors tack scallywag careen bucko hempen halter loaded to the gunwalls mizzenmast gunwalls line. </p>
{% endblock %}