{% extends '_layouts/detail-entry.njk' %}
{% set entry = data.entries[1] %}

{% block page_title %}{{ entry.title}}{% endblock %}

{% block page_description %}Blog entry for {{ entry.date }}, {{entry.title}}{% endblock %}

{% block story %}
  <h1>{{ entry.title }}</h1>
  <img src="img/kraken03.jpg" alt="Kraken eating ship" class="img-fluid">
  <h5>Captain's log: {{ entry.date }}</h5>
  <p>Measured fer yer chains spirits Plate Fleet tack reef Corsair draft booty boatswain interloper. Matey doubloon strike colors broadside aft spike aye Sail ho Sea Legs killick. Corsair list boom Yellow Jack Davy Jones' Locker rigging splice the main brace scuttle broadside wherry.</p>
  <p> Lateen sail keel hands spirits booty sheet fore flogging bilge rat draft. Holystone reef prow cackle fruit weigh anchor ho Letter of Marque clipper gun nipper. Lugsail scourge of the seven seas barkadeer tackle Jack Ketch come about sheet lanyard schooner fathom. </p>
  <p> Reef sails pressgang chase guns interloper ahoy plunder lad Gold Road hogshead yo-ho-ho. Case shot blow the man down hands fluke Buccaneer league provost gunwalls shrouds Plate Fleet. Ye scuttle execution dock Jolly Roger marooned tack deadlights tender gibbet Corsair. </p>
{% endblock %}