{% extends '_layouts/detail-entry.njk' %}
{% set entry = data.entries[0] %}

{% block page_title %}{{ entry.title}}{% endblock %}

{% block page_description %}Blog entry for {{ entry.date }}, {{entry.title}}{% endblock %}

{% block story %}
  <h1>{{ entry.title }}</h1>
  <img src="img/kraken02.jpg" alt="Kraken attacking ship" class="img-fluid">
  <h5>Captain's log: {{ entry.date }}</h5>
  <p>Port Buccaneer barkadeer scurvy me poop deck doubloon carouser jib plunder tack parrel. Lugsail yo-ho-ho quarter yawl broadside marooned Pieces of Eight sloop walk the plank crimp pirate pinnace. Six pounders gally nipper jack ahoy tender dance the hempen jig topsail bring a spring upon her cable crow's nest pink clap of thunder. List topmast red ensign plunder chase rutters wherry boom maroon dead men tell no tales league deadlights.</p>
  <p> Starboard Brethren of the Coast Jack Tar aye fluke bucko shrouds Sink me lee pinnace poop deck cog. List come about chandler nipperkin boom grog piracy Gold Road interloper gunwalls belay wench. Jolly boat topsail Davy Jones' Locker reef maroon brig provost gun clap of thunder cackle fruit rum keelhaul. Topgallant lanyard cog shrouds Plate Fleet dance the hempen jig galleon keel splice the main brace jury mast lugsail red ensign.</p>
{% endblock %}