{% extends '_layouts/base.njk' %}

{% block page_title %}The Ship's Log{% endblock %}

{% block page_description %}A daily blog from Capt. Crit McGillicutty.{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <h1>Land ho!</h1>
      <p>Welcome to my piratey blog!</p>
      <p>Don't forget to like and subscribe ;)!</p>
      <p>Hit the bell to receive notifcations for all my new posts!</p>
          {% for entry in data.entries %}
  <h3 class="entry-headline"><a href="{{ entry.url }}">{{ entry.title }}</a></h3>
  <p class="entry-date">{{ entry.date }}</p>
  <hr>
{% endfor %}
    </div>
  </div>
</div>
{% endblock %}
